* {
  margin: 0;
  padding: 0;
}


.chexing .cx {
  /* background-color: #ccc; */
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.1rem;
  border-bottom: 1px solid #ccc;
}
.chexing {
  /* background-color: #f7f7f7; */
  width: 100%;
  height: 100%;
}
.mySwiper1 .swiper-slide {
  margin-bottom: 0.5rem;
  padding-left: 0.6rem;
  width: 425px;
  height: 100%;
  text-align: center;
  font-size: 0.15rem;
  box-sizing: border-box;
}
.mySwiper1 .swiper-slide img {
  width: 20rem;
  height: 13rem;
  /* background-color: #F7F7F7; */
}
.mySwiper1 .swiper-button-next,
.swiper-button-prev {
  color: #ccc !important;
}
.mySwiper2 .swiper-slide {
  margin-bottom: 0.5rem;
  padding-left: 0.6rem;
  width: 425px;
  height: 100%;
  text-align: center;
  font-size: 0.15rem;
  box-sizing: border-box;
  background-color: #fff;
}
.mySwiper2 .swiper-slide img {
  width: 20rem;
  height: 13rem;
  background-color: rgb(199, 192, 192 ，.5);
}
.mySwiper2 .swiper-button-next,
.swiper-button-prev {
  color: #ccc !important;
}
.mySwiper3 .swiper-slide {
  margin-bottom: 0.5rem;
  padding-left: 0.6rem;
  width: 425px;
  height: 100%;
  text-align: center;
  font-size: 0.15rem;
  box-sizing: border-box;
  background-color: #fff;
}
.mySwiper3 .swiper-slide img {
  width: 20rem;
  height: 13rem;
  /* background-color: #f7f7f7; */
}
.mySwiper3 .swiper-button-next,
.swiper-button-prev {
  color: #ccc !important;
}
.mySwiper1,
.mySwiper2,
.mySwiper3 {
  display: none;
}
.mk3 ul {
  height: 8rem;
  line-height: 8rem;
  display: flex;
}
.mk3 ul li {
  list-style: none;
  flex: 1;
  text-align: center;
}
.current {
  width: 2rem;
  height: 5.5rem;
  background-color: #fff;
}
.mk3 li img {
  width: 5rem;
  height: 2.5rem;
  /* background-color: #000; */
}
a {
  text-decoration: none;
}
