*{
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
}
header {
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #fff;
  }
  header a {
    text-decoration: none;
  }
  header .left {
    flex: 1;
  }
  .left img {
    width: 6rem;
    /* margin-top: 1rem; */
    margin-left: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
  header .right,
  .left {
    margin-top: 1rem;
  }
  header .right {
    margin-left: 5.5rem;
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .r img:nth-of-type(1) {
    flex: 1;
    width: 1.2rem;
    height: 1.5rem;
  }
  .r img,
  .r2 img {
    margin-right: 1rem;
  }
  .r2 a img:nth-of-type(1) {
    flex: 2;
    width: 5.5rem;
    height: 1.5rem;
  }

  .r3 img:nth-of-type(1) {
    margin-top: -1rem;
    flex: 1;
    width: 2.8rem;
    height: 3rem;
  }
  /*  */
  .swiper-container .swiper-slide{
      width: 330px;
      height: 630px;
  }
  .swiper-container .swiper-slide>img{
    width: 100%;
    height: 630px;
    padding-left: -2rem;
  }
  /* 头部 */
  main .m {
    z-index: 100;
    display: none;
    width: 100%;
    height: 10rem;
    padding-left: 2rem;
  }
  .m li {
    list-style: none;
    width: 22rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.85rem;
    border-bottom: 1px solid #ccc;
  }
  .m li a {
    text-decoration: none;
    color: black;
  }
  .m li img {
    height: 0.5rem;
    margin-left: 17rem;
  }
  /* 第二部分 */
  .er{
    width: 100%;
    display: block;
    margin: 2rem auto;
    height: 28rem;
  
  }
  .zuo{
    float: left;
    width: 33.33%;
    height: 10rem;
    background:url(../img/red-tip.png) no-repeat;
    background-size: 100% 100%;
    margin-left: .1rem;
  }
  .zuo a>img{
    margin-top: 50%;
    margin-left: 5%;
  }
  .zho{
    float: left;
    width: 33.33%;
    height: 10rem;
    background:url(../img/guang-tip.png) no-repeat;
    background-size: 100% 100%;
    margin-left: -.5rem;
  }
  .zho a>img{
    margin-top: 50%;
    margin-left:15%;

  }
  .you{
    width: 33.33%;
    float: left;
    height: 10rem;
    background:url(../img/hui-tip.png) no-repeat;
    background-size: 100% 100%;
  }
  .you a>img{
    margin-top: 50%;
    margin-left: 10%;
  }
  /* 第三部分 */
.san{
  width: 100%;
  height: 17rem;
  background: url(../img/img-index-1.png) no-repeat;
  background-size:  100% 100%;
}
p{
  text-align: center;
}
#q-1{
  font-size: 1rem;
  font-family: '微软雅黑';
  line-height: 5rem;
}
#q-2{
  font-size: 1.3rem;
  font-family: '微软雅黑';
}
#q-3{
  width: 30%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .8rem;
  margin-left: 35%;
  border-radius:20px;
  border: 1px solid #999;
}
/* 第四部分轮播图 */
.si{
  width: 100%;
  height: 23rem;
}
.swiper {
  width: 100%;
  height: 20rem;
}
.swiper-slide{
  width: 25rem;
  height: 18rem;
}
 .mySwiper-1 .swiper-slide img {
  display: block;
  width:23rem;
  height: 18rem;
  margin-top: -18rem;
  object-fit: cover;
}
/*  */
/* 页脚 */
footer{
  height: 4rem;
  line-height: 1.5rem;
  font-size: .5rem;
  text-align: center;
  font-family: '微软雅黑';
}
a>img{
  width: 3rem;
  height: 3rem;
}